.nav-container{
    width:15%;
    display:flex;
    gap:20px;
    margin:auto;
    padding:20px;
}

@media(min-width:651px) and (max-width:1000px){
    .nav-container{
        width:20%;
    }
    
}

@media(max-width:650px){
    .nav-container{
        width:50%;
    }
}